
WebBoard/WebBoard/node_modules/

WebBoard/\.vs/

WebBoard/WebBoard\.DataAccess\.EntityFramework/bin/

WebBoard/WebBoard\.DataAccess\.EntityFramework/obj/

WebBoard/WebBoardAuth\.Logic/bin/

WebBoard/WebBoardAuth\.Logic/obj/

WebBoard/WebBoardAuth\.DataAccess\.Sql/bin/

WebBoard/WebBoardAuth\.DataAccess\.Sql/obj/

WebBoard/WebBoardAuth\.Common/bin/

WebBoard/WebBoardAuth\.Common/obj/

WebBoard/WebBoard/bin/

WebBoard/WebBoard/obj/

WebBoard/WebBoardAuth\.Authorization/bin/

WebBoard/WebBoardAuth\.Authorization/obj/

WebBoard/WebBoard\.Logic/bin/

WebBoard/WebBoard\.Logic/obj/
